<table class="table employeetable">
    <tr>
        <td>First Name</td>
        <td>{{employee.firstName}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{employee.lastName}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{employee.email}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{employee.phone}}</td>
    </tr>
    <tr>
        <td>Department</td>
        <td>{{employee.department}}</td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>{{employee.salary}}</td>
    </tr>
    <tr>
        <td>Paid Overtime</td>
        <td>{{employee.overtime}}</td>
    </tr>
</table>