<table class="table employeetable">
    <tr>
        <td>First Name</td>
        <td>{{employee.firstName}}</td>
    </tr>
    <tr>
        <td>Middle Name Initial</td>
        <td>{{employee.middleInitial}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{employee.lastName}}</td>
    </tr>
    <tr>
        <td>Nick Name</td>
        <td>{{employee.nickName}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{employee.email}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{employee.phone}}</td>
    </tr>
    <tr>
        <td>Cell Phone</td>
        <td>{{employee.cellPhone}}</td>
    </tr>
    <tr>
        <td>Department</td>
        <td>{{employee.department}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{employee.location.city}}, {{employee.location.state}}</td>
    </tr>
</table>